snippet add
add :${1:col}, :${2:string_integer_float_text_binary}${3:, size:$4}
$0
endsnippet

snippet migration 
defmodule ${1:Ginbot}.Repo.Migrations.${2} do
	use Ecto.Migration

	def ${3:change_or_create} table("$4") do
		$0

		timestamps()
	end
end
endsnippet
