Host *
 ServerAliveInterval 60
Host yozu
  HostName yozu.co.uk
  User pbennettfreeman
Host mva
  HostName minimum-viable-automation.com
  User paul
Host ff
  HostName fordfueloils.co.uk
  User paul

Host instance-1
  HostName 35.189.82.66
  User ansible
  IdentityFile ~/.ssh/ansible_key

Host *.gcs.local
  User pbennettfreeman
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

Host *.gc.pandle.co.uk
  User pbennettfreeman

Host a1
  HostName 35.189.92.240
  User pbennettfreeman

Host a2
  HostName 35.189.124.133 
  User pbennettfreeman

